body {
	font-family: Verdana, Geneva, Tahoma, sans-serif
}

#chat-form {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

#all-messages-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

#message-history-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

@media only screen and (min-width: 600px) {
	.message-container {
		max-width: 500px;
	
	}
}

.message-container {
	width: 90%;
	display: none;
	border: 1px solid lightgrey;
	border-radius: 10px;
	padding: 20px;
}

.role-hint-container {
	color: grey;
}

.latest-response-content-container {
	width: 100%;
	color: black;
}

input[type=text] {
	padding: 10px;
	font-weight: 300;
	font-size: medium;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

input[type=submit] {
	background-color: rgb(85, 107, 47);
	color: white;
	border: none;
	padding: 10px;
	font-weight: 700;
	font-size: large;
	border-radius: 5px;
}

input[type=submit]:disabled {
	background-color: rgb(155, 155, 155);
}

input[type=submit]:hover:not(:disabled) {
	background-color: rgb(115, 148, 58);
	cursor: pointer;
}

input[type=submit]:active:not(:disabled) {
	background-color: rgb(86, 144, 95);
	cursor: pointer;
}
