body {
	font-family: Verdana, Geneva, Tahoma, sans-serif
}

#chat-form-container {
	width: 50%;
	margin: auto;
	text-align: center;
}

#all-messages-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	padding: 10px;
}

.message-container {
	width: 30vw;
	display: none;
	margin-top: 10px;
	border: 1px solid lightgrey;
	border-radius: 10px;
	padding: 20px;
}

.role-hint-container {
	color: grey;
}

.latest-response-content-container {
	color: black;
}

input[type=text] {
	padding: 10px;
	font-weight: 300;
	font-size: medium;
}

input[type=submit] {
	background-color: rgb(85, 107, 47);
	color: white;
	border: none;
	padding: 10px;
	margin-top: 10px;
	font-weight: 700;
	font-size: large;
}

input[type=submit]:disabled {
	background-color: rgb(155, 155, 155);
}

input[type=submit]:hover:not(:disabled) {
	background-color: rgb(115, 148, 58);
	cursor: pointer;
}

input[type=submit]:active:not(:disabled) {
	background-color: rgb(86, 144, 95);
	cursor: pointer;
}
